
tr>th{
    font-weight: 300;
}
td{
    padding: 10px;
}
.tables {
    font-weight: 700;
}
.table-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    gap: 0;
    padding: 5px;
    border-radius: 3px;
}
.table-container > div {
    /* border-left: 1px solid white; */
    font-weight: 700;
    text-align: center;
    padding: 9px;
    
}
.border-left-dark > div:not(:first-child) {
    border-left: 1px solid black;
}
.tables {
    display: block;
}


.separador{
  
    border-top: 1px solid rgba(0, 0, 0, 0.353);
}

.bold {
    font-weight: 700 !important;
}

.standard-form {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.164);
    border-radius: 3px;
    margin-top: 10px;
}
.standard-form input {
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 3px;
}

.simple-form {
    width: 90%;
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 2%;
    box-shadow: 2px 2px 5px rgb(156, 156, 156);
    border-radius: 7px;
    padding: 8px;
}
.options-component {
    background-color: var(--color-two);
    height: fit-content;
    width: 100%;
    position: absolute;
}
.options-component > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: none;
}
.options-component > div > h2 {
    color: var(--color-one);
    text-align: center;
    border-bottom: 1px solid var(--color-one);
    padding: 5px;
    margin: 0;
}
.options-component > div > button {
    border: 0;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid var(--color-three);
    padding: 3px;
}
.simple-form .label-input-pairs {
    width: 100%;
    padding: 6px;
}
.simple-form .label-input-pairs > article {
    display: grid;
    grid-template-columns: 25% 75%;
}
.simple-form .label-input-pairs > article > input {
    border: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid rgb(215, 215, 215);
    border-radius: 3px;
}
.simple-form .label-input-pairs > article > input:focus {
    border: 1px solid var(--color-one);
    outline: none;
}

.bold {
    font-weight: 700 !important;
}

.standard-form {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.164);
    border-radius: 3px;
    margin-top: 10px;
}
.standard-form input {
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 3px;
}


@media screen and (min-width: 580px) {
    .standard-form {
        max-width: 600px;
        margin: 0 auto !important;
       
    }
    #admin-page-container {
        display: grid;
        grid-template-columns: 30% 70%;
        height: 90vh;
    }
    .options-component {
        background-color: var(--color-two);
        height: fit-content;
        width: 100%;
        position: relative;
    }
    .options-component > div {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .options-component > div > h2 {
        color: var(--color-one);
        text-align: center;
        border-bottom: 1px solid var(--color-one);
        padding: 5px;
        margin: 0;
        
    }
    .options-component > div > button {
        border: 0;
        background-color: transparent;
        color: white;
        border-bottom: 1px solid var(--color-three);
        padding: 3px;
        
    }
   
}



@media screen and (min-width: 1080px) { 
    .simple-form {
        width: 600px;
    }

}


.button-transaction{
    max-width: 500px;
    max-height: 50px;
    font-size: 15px !important;
}