
tr>th{
    font-weight: 300;
}
td{
    padding: 10px;
}
.tables {
    font-weight: 700;
}
.table-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    gap: 0;
    border-radius: 3px;
    margin-top: 0;
}
.table-container:last-child {
    border-bottom: 1px solid black;
}
.table-container > div {
    
    font-weight: 700;
    text-align: center;
    padding: 9px;
    
    
}
.border-left-dark > div:not(:first-child) {
    border-left: 1px solid black;
}
.tables {
    display: block;
}


.separador{
  
    border-top: 1px solid rgba(0, 0, 0, 0.353);
}

.bold {
    font-weight: 700 !important;
}

.standard-form {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.164);
    border-radius: 3px;
    margin-top: 10px;
}
.standard-form input {
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 3px;
}

.simple-form {
    position: relative;
    width: 90%;
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 2%;
    box-shadow: 2px 2px 5px rgb(156, 156, 156);
    border-radius: 7px;
    padding: 8px;
}
.options-component {
    background-color: var(--color-two);
    height: fit-content;
    width: 100%;
    position: absolute;
}
.options-component > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: none;
}
.options-component > div > h2 {
    color: var(--color-one);
    text-align: center;
    border-bottom: 1px solid var(--color-one);
    padding: 5px;
    margin: 0;
}
.options-component > div > button {
    border: 0;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid var(--color-three);
    padding: 3px;
}
.simple-form .label-input-pairs {
    width: 100%;
    padding: 6px;
}
.simple-form .label-input-pairs > article {
    display: grid;
    grid-template-columns: 25% 75%;
}
.simple-form .label-input-pairs > article > input {
    border: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid rgb(215, 215, 215);
    border-radius: 3px;
}
.simple-form .label-input-pairs > article > input:focus {
    border: 1px solid var(--color-one);
    outline: none;
}

.bold {
    font-weight: 700 !important;
}

.standard-form {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.164);
    border-radius: 3px;
    margin-top: 10px;
}
.standard-form input {
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 3px;
}


@media screen and (min-width: 580px) {
    .standard-form {
        max-width: 600px;
        margin: 0 auto !important;
       
    }
    #admin-page-container {
        display: grid;
        grid-template-columns: 30% 70%;
        height: 90vh;
    }
    .options-component {
        background-color: var(--color-two);
        height: fit-content;
        width: 100%;
        position: relative;
    }
    .options-component > div {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .options-component > div > h2 {
        color: var(--color-one);
        text-align: center;
        border-bottom: 1px solid var(--color-one);
        padding: 5px;
        margin: 0;
        
    }
    .options-component > div > button {
        border: 0;
        background-color: transparent;
        color: white;
        border-bottom: 1px solid var(--color-three);
        padding: 3px;
        
    }
   
}


.inventory-plant-name {
    background-color: rgb(203, 203, 203);
    padding: 4px;
    text-align: center;
    font-weight: bolder;
}


@media screen and (min-width: 1080px) { 
    .simple-form {
        width: 600px;
    }

}


.button-transaction{
    max-width: 500px;
    max-height: 50px;
    font-size: 15px !important;
}

.shoe-card{
    width: 300px;
    height: 350px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid rgba(145, 142, 142, 0.867);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(172, 168, 168);
   
 

}
.shoe-card:hover{
    scale: 1.01;
    transition: all 500ms;

}

.first-div{
    height: 80%;
    position: relative !important;
    width: 100%;
    display: block;
}

.shoe-card>button{
    border: 0;
    background-color:transparent;
    color: red;
}

.shoe-card>div>img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   top: 0;
   left: 0;
}
.shoe-card>h2{
   width: 100%;
   height:10%;
   margin-bottom: 0;
}
.grid-catalogue{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap:10px;
    padding: 20px;
}




.breadcrumb a:not(:last-child)::after {
    content: " > ";
  }
.next-to-heart{
    height: 10%;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
 
}
.heart{
    border: 0;
    background-color:transparent;
    color: red;
}

/* @keyframes upscale {
    0%{
        scale: 1;}
    100%{
        scale: 1.05;
    }
} */
.filtro{

   width: 300px;
   height: 80vh;
   border-radius: 10px;
   padding: 10px;
   text-align: center;
   border:1px solid rgba(207, 202, 202, 0.429);
   position: fixed;
   z-index: 3;
   background-color: white;
   left: 20px;
   top:15%
}

.filtro>h2{
font-weight: bold;

}

.filtro>span{
    display: block;
    font-size: 20px;
}

.filtro>button{
    background-color: var(--color-one);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 0;
}
.filter-button{
   position: fixed;
   z-index: 3; 
   left: 20px;
   border: none;
   background-color: white;
   font-weight: bold;
   border-radius: 50%;
   padding: 5px;
}

.div-landing-page{
height: 100%;
margin:0;
font-size: 16px;
font-family:"Lato", sans-serif;
font-weight: 400;
line-height: 1.8em;
color :#666;

}

.landing-image-1{

    background-image:url('../img/variados.jpg');
    min-height: 500px;

}
.landing-image-1, .landing-image-2, .landing-image-3{
position: relative;
opacity:0.70;
background-position:center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;

}
.landing-image-2{

    background-image:url('./../img/how-to.png');
    min-height: 400px;
}
.landing-image-3{

    background-image:url('./../img/hombre.jpg');
    min-height: 400px;
}

.section{
    text-align: center;
    padding: 50px 80px;
    background-color: rgb(248, 206, 213);
    color:#666

}

.ptext{
    position: absolute;
    top:50%;
    left: 40%;
    width: 100px;
    text-align: center;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: white;
   

}
.ptext .border{
background-color: transparent;
color: white;
display: inline;
}

@media(max-width: 568){
    .landing-image-1, .landing-image-2, .landing-image-3{
        background-attachment:scroll ;
    }   
}
.final-div{
   
    text-align: center;
    position: relative;
}

.final-text{
    background-color: transparent;
    color: white;
    position: absolute;
    left: 20px;
    top:150px;
    font-size: 40px;
    line-height: 1;
   
    
}

